@media print
   {
    @page {
        size: A4;
    }
    body {
       font-size: 12pt;
    }

    .sidebar-wrapper {
        position: static;
        float: right;
        width: 40%;
        height: 1500px;
        -webkit-print-color-adjust: exact;
    }

    .remove-container.container-block {
       display: none;
    }

    footer {
       display: none;
    }

    a[href]:after {
      content: none !important;
    }
    .skillset .level-bar-inner {
       background-color: $bar-color !important;
       -webkit-print-color-adjust: exact;
    }

    .sidebar-wrapper {
      color: black !important;

    }
    .sidebar-wrapper a {
      color: black !important;

    }
    .sidebar-wrapper .education-container .time {
      color: black !important;
    }
    .sidebar-wrapper .education-container .meta {
      color: black !important;
    }

}