@media print
   {
    @page {
        size: A4;
    }
    body {
       font-size: 12pt;
    }

    .sidebar-wrapper {
        position: static;
        float: right;
        width: 40%;
        height: 1500px;
        -webkit-print-color-adjust: exact;
        .profile-container { color: black !important; }
        .tagline { color: $text-color !important; }
        .name { width: 250px;}
    }

    .remove-container.container-block {
       display: none;
    }

    footer {
       display: none;
    }

    a[href]:after {
      content: none !important;
    }
    .skillset .level-bar-inner {
       background-color: $bar-color !important;
       -webkit-print-color-adjust: exact;
    }

    .sidebar-wrapper {
      color: $text-color !important;
      a { color: $text-color !important; }
      .education-container {
         .time { color: $text-color !important; }
         .meta { color: $text-color !important; }
      }
    }

}