@media print
   {
    @page {
        size: A4;
    }
    body {
       font-size: 12pt;
    }

    .main-wrapper {
       padding-right: 0px;
       padding-bottom: 0px;
    }
    .sidebar-wrapper {
        position: static;
        float: right;
        width: 40%;
        height: 1300px;
        -webkit-print-color-adjust: exact;
        .profile-container { color: black !important; }
        .tagline { color: $text-color !important; }
    }

    .remove-container.container-block {
       display: none;
    }

    footer {
       display: none;
    }

    a[href]:after {
      content: none !important;
    }
    .skillset .level-bar-inner {
       background-color: $bar-color !important;
       -webkit-print-color-adjust: exact;
    }

    .sidebar-wrapper {
      color: $text-color !important;
      a { color: $text-color !important; }
      .education-container {
         .time { color: $text-color !important; }
         .meta { color: $text-color !important; }
      }
    }
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
    .skillset {
      .item {
         margin-bottom: 5px !important;
      }
    }
}